<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
	<display-name>Quotation</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>
	
	<servlet>
		<servlet-name>quotation</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>quotation</servlet-name>
		<url-pattern>/quotation/m/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>quotation/random</servlet-name>
		<jsp-file>/jsp/quotation/random.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>quotation/random</servlet-name>
		<url-pattern>/quotation/random/mid</url-pattern>
	</servlet-mapping>
</web-app>